<template name="homepage">
    <div class="col-md-3">

        {{>sidebar}}
    </div>

    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Score</th>
                        <th>Suggestion</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#ifEsInputIsEmpty index="suggestions"}}
                        {{#each suggestions}}
                            <tr>
                                <td>
                                    <div class="vote">
                                        <a>
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                        </a>


                    <span>
                        {{score}}
                    </span>
                                        <a>
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </a>
                                    </div>
                                </td>
                                <td><a href="{{pathFor 'suggestion'}}">{{name}}</a></td>
                                <td>
                                    <ul>
                                        {{#each this.tags}}
                                            <li class="tag-list-item">
                                                <a>{{this}}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </td>
                            </tr>
                        {{/each}}
                    {{/ifEsInputIsEmpty}}

                    {{#esEach index="suggestions"}}
                        <tr>
                            <td>
                                <div class="vote">
                                    <a>
                                         <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </a>
                    <span>
                        {{score}}
                    </span>
                                    <a>
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </a>
                                </div>
                            </td>
                            <td><a href="{{pathFor 'suggestion'}}">{{name}}</a></td>
                            <td>
                                <ul>
                                    {{#each this.tags}}
                                        <li class="tag-list-item">
                                            <a type="submit">{{this}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                    {{/esEach}}
                    </tbody>
                </table>
            </div>

        </div>


    </div>







</template>
