<template name="suggestion">
    {{#with suggestionIndividual}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>{{name}}</h1>
            <p class="lead">{{score}}</p>

            <div id="description">
                {{description}}
            </div>
            {{#if isInRole 'moderator'}}
                <form >
                    <a class="glyphicon glyphicon-edit"  data-toggle="modal"
                       data-target="#basicModal">Edit</a>
                    <a class="glyphicon glyphicon-remove-sign">Delete</a>
                </form>
            {{/if}}
            {{#if isInRole 'admin'}}
                <form >
                    <a class="glyphicon glyphicon-edit"  data-toggle="modal"
                       data-target="#basicModal">Edit</a>
                    <a class="glyphicon glyphicon-remove-sign">Delete</a>
                </form>
            {{/if}}
            <ul style="margin-top: 10px;">
                {{#each this.tags}}
                    <li class="tag-list-item">
                        <a>{{this}}</a>
                    </li>
                {{/each}}
            </ul>


        </div>
        {{> commentSection}}
    </div>

    {{> modalEdit}}

    {{/with}}

</template>

<template name="commentSection">
    <h4>Comments</h4>
    <form>
    <textarea id="CommentBody" class="form-control margin-5px" rows="5"  placeholder="Share your opinion."></textarea>
    <button type="submit" class="btn btn-success ">Submit</button>
    </form>
    <div style="margin-top:10px;">

    {{#each suggestionComments}}

        <div class="well well-sm">
           <a href="/profile/{{userId}}">{{username}} </a>{{score}} <a><span class="glyphicon glyphicon-thumbs-up"></span></a>

            <a><span class="glyphicon glyphicon-thumbs-down"></span></a>

            <p>{{body}}</p>
        </div>

    {{/each}}

    </div>
</template>

<template name="modalEdit">
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="suggestionTitle">Title:</label>
                        <input type="text" class="form-control margin-5px" id="Title">

                        <label for="description">Description:</label>
                        <textarea class="form-control margin-5px" rows="5" id="Body"></textarea>

                        <label for="taglist">Tags:</label>
                        <input type="text" class="form-control margin-5px" id="List">

                        <button type="submit" class="btn btn-success ">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

