<template name="sidebar">

        <input class="form-control spacing-margins-custom-searchbar" id="inputdefault" type="text" placeholder="Search for something!">

        <div id="tags">
        <input class="form-control spacing-margins-custom" id="inputdefault" type="text" placeholder="Add a tag!"> <button class="btn-success">Add</button>
            <ul class="list-unstyled spacing-margins-custom">
                <li class="tag-list-item">
                   <a>Movie</a>
                </li>
                <li class="tag-list-item">
                    <a>Comedy</a>
                </li>
                <li class="tag-list-item">
                    <a>Funny</a>
                </li>

            </ul>
        </div>


</template>