<template name="sidebar">


    {{> esInput index="suggestions" placeholder="Search for something!" class="form-control"}}
    <div id="tags">
<form id="inputForTags">
        <input class="form-control spacing-margins-custom" id="TagsInput" type="text" placeholder="Add a tag!">
</form>
            <ul  type="submit" class="list-unstyled spacing-margins-custom" id="TagList">
                {{#each tagsList}}
                    <li class="tag-list-item">

                      <a>{{this}}</a>
                    </li>
                {{/each}}

            </ul>
        </div>


</template>