<template name="mySuggestions">
    <div id="userSuggestions">
        <table class="table table-hover">
        <thead>
        <tr>
            <th>Score</th>
            <th>Suggestion</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        {{#each suggestionCurrent}}
            <tr>
                <td>
                    <div class="vote">
                    <span class="glyphicon glyphicon-thumbs-up">

                    </span>
                    <span>
                        {{score}}
                    </span>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </div>
                </td>
                <td><a href="{{pathFor 'suggestionCurrent'}}">{{name}}</a></td>
                <td>
                    <ul>
                        {{#each this.tags}}
                            <li class="tag-list-item">
                                <a>{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</template>